@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*Guilherme*/

body {
    overflow-x: hidden;
}

#navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #004aad;
    height: 80px;
}

#navigationList {
    display: flex;
    list-style: none;
}

#navigation h1 a {
    color: white;
    text-decoration: none;
}

#navigation h1 {
    transition: all .3s ease;
}

.navigationItems {
    letter-spacing: 3px;
    margin-left: 32px;
    transition: all .3s ease;
}

#navigation h1:hover,
.navigationItems:hover {
    transform: scale(1.04);
}

.navigationLinks {
    text-decoration: none;
    transition: .3s;
    color: white;
}

#menuIcon {
    font-size: 24px;
    color: white;
    display: none;
}

@media (max-width: 999px) {
    #navigationList {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 8vh;
        margin-top: 31px;
        right: 0;
        width: 100vw;
        height: 98vh;
        background-color: #004aad;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
    }

    .navigationItems {
        margin-left: 0;
    }

    #menuIcon {
        display: block;
        cursor: pointer;
    }

    #navigationList.active {
        transform: translateX(0);
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/*Felipe*/

#felipe {
    background-color: green;
    width: 100%;
    height: 500px;
}

/*Francisco*/

#francisco {
    background-color: red;
    width: 100%;
    height: 550px;
}

/*João*/

#joao {
    background-color: aqua;
    width: 100%;
    height: 500px;
}

/*Eduardo*/

footer {
    background-color: black;
    width: 100%;
    height: 180px;
}