@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*Guilherme*/

#navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #004aad;
    height: 80px;
}

/*Felipe*/

#felipe {
    background-color: green;
    width: 100%;
    height: 500px;
}

/*Francisco*/

#francisco {
    background-color: red;
    width: 100%;
    height: 550px;
}

/*João*/

#joao {
    background-color: aqua;
    width: 100%;
    height: 500px;
}

/*Eduardo*/

footer {
    background-color: black;
    width: 100%;
    height: 400px;
}
#ca{
    margin-left:  40px;
    margin-right: 40px;
}
#po img{
    height: 60px;
    width: 60px;
    float: left;
    margin-left: 490px;
    border-radius: 60pc;

    
}
#oi img{
    height: 60px;
    width: 60px;
    float: left;
    margin-left: 50px;
    border-radius: 70pc;

}
#opa img{
    height: 60px;
    width: 60px;
    margin-left: 50px;
    border-radius: 79pc;

  
}
#riri{
   margin-left: 70px;
}
#oo h2{
    margin-left: 500px;
    color: white;
}
#ee h5{
 display: block;
 color: aliceblue;
 margin-left: 200px;
}